/* a {
  color: #000 !important;
  text-decoration: none !important;
} */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar h1 {
  color: #fff;
  font-family: 'LP Bambus W00', cursive;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
  text-shadow: 0 0 10px #1d2a36;
  word-spacing: 5px;
}
.sidebar {
  background: #273747;
  /* position: fixed; */
  height: 100%;
  transition: all 0.2s ease-in;
}
#main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts-container {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
#main-nav ul li {
  padding-bottom: 20px;
  margin-left: 0px;
  display: block;
}
#main-nav > ul li {
  position: relative;
}
#main-nav > ul > li {
  margin-left: 50px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.sidebar #main-nav ul li a {
  font-size: 17px;
  padding: 0px 0px;
  color: #fff;
}
#main-nav ul li a:hover {
  color: #6dbcdb;
}
#main-nav ul li a {
  text-decoration: none;
}
.socialIcon a {
  margin-right: 15px;
  cursor: pointer;
}
.socialIcon img:hover {
  background-color: #ccc;
  padding: 20;
  border-radius: 20;
  opacity: 0.6;
}
.postTag {
  margin-top: 10px;
}
.postTag a {
  margin-right: 10px;
}
.sidebarContainer {
  padding-top: 69px;
}
.menuTitle{
  font-weight: 700;
  font-size: 25px;
}

.categoriesMenu {
    margin-top: 69px;
    padding: 20px;
}

.categoriesMenu ul {
  margin: 0;
  padding: 0;
}
.categoriesMenu ul li {
  list-style: none;
}
.categoriesMenu li {
  list-style: none;
}

.categoriesMenu ul li a {
  display: block;
  font-size: 16px;
  color: #60656f;
  border-bottom: 1px solid #f1f5fc;
  padding: 11px 0;
  line-height: 20px;
  font-family: 'open sans', helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.popularpost ul li {
  list-style: none;
  font-family: 'Museo Sans W01', helvetica, arial, sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  color: #1d1b1b;
  line-height: 1.2em;
  text-align: left;
}
.popularpost ul li a {
  display: block;
  font-size: 16px;
  color: #60656f;
  border-bottom: 1px solid #f1f5fc;
  padding: 11px 0;
  line-height: 20px;
  font-family: 'open sans', helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.title p{
  margin: 10px 0 25px 0;
  font-family: 'open sans', helvetica, sans-serif;
  color: rgb(51, 51, 51);
}
.singleImage img{
  width:100%;
  height:auto
}
.posts {
  margin-top: 60px;
}
.title h1{
  margin-bottom: 50px;
}

@media screen and (max-width: 345px) {
  .sidebar {
    position: relative;
  }
  #main-nav ul {
    text-align: center;
  }
  .title.singleImage {
    padding: 12px;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    position: relative;
  }
  #main-nav ul {
    text-align: center;
  }
  .title.singleImage {
    padding: 12px;
  }
}
